<html>
  <head>
    <title>GitHub Private Repository OAuth Cancellation</title>

    <script type="text/javascript">
    </script>

    <style type="text/css">


        #gh_config_link{
            margin-top: 10px;
        }

        #gh_config_link a{
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira-github-connector-plugin/images/pencil_icon.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
            font-size: 8pt;
        }

        .gh_config_h4{
            font-weight: normal;
            color: #3676B7;
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira-github-connector-plugin/images/down_gray_arrow.jpg');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 18px;
            margin-top: 18px;
        }

        #gh_post_receive_header{
            font-weight: normal;
            font-size: 10pt;
            color: #666;
            margin-top: 18px;
            margin-bottom: 10px;
        }

        #gh_messages{
            background-color: #DFEFFE;
            margin-left: 18px;
            margin-top: 18px;
            border: 2px solid #bbb;
            padding: 10px;
            padding-left: 36px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;
            background-image: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira-github-connector-plugin/images/blue_info_icon.jpg');
            background-repeat: no-repeat;
            background-position: 5px 5px;
            font-size: 8pt;
            width: 400px;
            margin-bottom: 12px;
        }



    </style>

  </head>

  <body>


    <h3>GitHub Private Repository OAuth Cancellation</h3>


    <h4 class="gh_config_h4">OAuth Permissions Denied</h4>

    <p>You have denied access to the GitHub repositories associated with your GitHub OAuth Application.</p>

    <p>Doing so means that the you will not be able to see commits associated with these repositories within JIRA.</p>

    <p>If you meant to associate with a different GitHub OAuth application, you can set up a new application from the <a href="$action.getBaseURL()/secure/admin/ConfigureGlobalSettings!default.jspa">OAuth Settings Page</a> page.
    </p>

    <p>Alternatively, you can manage your existing repositories on the <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories!default.jspa">Configure Repositories Page</a>.</p>

  </body>
</html>