<html>
  <head>
    <title>GitHub OAuth Settings</title>

    <style type="text/css">


        #gh_config_link{
            margin-top: 10px;
        }

        #gh_config_link a{
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.github.GitHub/images/pencil_icon.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
            font-size: 8pt;
        }

        .gh_config_h4{
            font-weight: normal;
            color: #3676B7;
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.github.GitHub/images/down_gray_arrow.jpg');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 18px;
            margin-top: 18px;
        }

        #gh_messages{
            background-color: #DFEFFE;
            margin-left: 18px;
            margin-top: 18px;
            border: 2px solid #bbb;
            padding: 10px;
            padding-left: 36px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;
            background-image: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.github.GitHub/images/blue_info_icon.jpg');
            background-repeat: no-repeat;
            background-position: 5px 5px;
            font-size: 10pt;
            width: 400px;
            margin-bottom: 12px;
        }

        #gh_messages h2{
            font-size: 10pt;
            color: #333;
        }


        #gh_oauth_app_screenshot{
            padding-top: 16px;
        }

        .gh_steps li{
            padding-top: 10px;
        }


    </style>

  </head>

  <body>

        <h3>GitHub Oauth Settings</h3>

            <div id='gh_config_link'>
                <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories!default.jspa">Bulk Configure GitHub Repositories</a>
            </div>

              <h4 class="gh_config_h4">Setting up a GitHub OAuth Application</h4>


                <form class="aui" method="post" action="$action.getBaseURL()/secure/admin/ConfigureGlobalSettings.jspa">
                  <input type="hidden" name="nextAction" value="SetOAuthValues">
                  <input type="hidden" name="atl_token" value="$atl_token">
                  If you need to sync only with public GitHub repositories, you can skip the this step and proceed directly to <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa">configuring your repositories</a>.

                  For private GitHub repositories, complete the following steps:

                  <ol class="gh_steps">
                    <li>Copy the following Callback URL:
                       <div id="repoEntry">
                         <input type="text" class="text long-field" value="$action.getBaseURL()/secure/admin/GitHubOAuth2.jspa">
                       </div>
                   </li>

                   <li>
                      Browse to <a href="https://github.com/account/applications/new" target="_blank">https://github.com/account/applications/new</a> to create a new GitHub OAuth Application.

                       <div id="gh_oauth_app_screenshot">
                           <img alt='GitHub Configuration Screenshot' src="$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.github.GitHub/images/gh_oauth_app.jpg">
                       </div>

                   </li>

                   <li>
                       Paste the Callback URL into the Callback URL field of the New OAuth Application form.
                   </li>



                   <li>
                      After you create the application, GitHub will provide you with a <strong>Client ID</strong> and a <strong>Client Secret</strong> which you will need to enter below.

                         #if ($action.getMessages() != "")
                             <div id="gh_messages" >
                                    <h2>$action.getMessages()</h2>
                             </div>
                         #end

                         #if ($action.getValidations() != "")
                             <div class="aui-message error shadowed">
                                    <h3>$action.getValidations() </h3>
                             </div>
                         #end

                      <table width="500px">

                               <tr>
                                 <td>Client ID</td>
                               </tr>
                               <tr>
                                 <td>
                                    <input type="text"
                                    class="text"
                                    id="clientID"
                                    name="clientID"
                                    value="$textutils.htmlEncode($action.getSavedClientID())"
                                    size="60"
                                    />

                                 </td>

                               </tr>

                                 <tr>
                                   <td><label for='clientSecret'>Client Secret</label></td>
                                 </tr>
                                 <tr>
                                   <td>
                                      <input type="text"
                                      class="text"
                                      id="clientSecret"
                                      name="clientSecret"
                                      value="$textutils.htmlEncode($action.getSavedClientSecret())"
                                      size="60"
                                      />

                                   </td>

                                 </tr>

                               <tr>
                                   <td >
                                       <input type="submit" name="Submit" id="Submit" value="Add/Update Keys"
                                       class="spaced"
                                       />
                                   </td>
                               </tr>

                      </table>
                   </li>


                   <li>
                       Once you have completed the OAuth Application setup, you can begin <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa">configuring your repositories</a>

                   </li>


                  </ol>

              </form>



  </body>
</html>