<html>
  <head>
    <title>GitHub Global Plugin Settings</title>

    <script type="text/javascript">
    </script>

    <style type="text/css">


        #gh_config_link{
            margin-top: 10px;
        }

        #gh_config_link a{
            background: url('/jira/download/resources/com.tsc.jira.github.GitHub/images/pencil_icon.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
            font-size: 8pt;
        }

        .gh_config_h4{
            font-weight: normal;
            color: #3676B7;
            background: url('/jira/download/resources/com.tsc.jira.github.GitHub/images/down_gray_arrow.jpg');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 18px;
            margin-top: 18px;
        }

        #gh_post_receive_header{
            font-weight: normal;
            font-size: 10pt;
            color: #666;
            margin-top: 18px;
            margin-bottom: 10px;
        }

        #gh_post_receive_textbox{
            font-size: 6pt;
            padding: 4px;
        }

        #gh_post_receive{
            margin-bottom: 10px;
        }

        .gh_table{
            margin-left: 16px;
            width: 100%
        }

        .gh_table_project_name{
            font-size: 10pt;
            color: #5F6262;
            padding-top: 14px;
        }

        .gh_table th{
            font-weight: normal;
            color: #656565;
            border-bottom: 1px solid #cccccc;
            font-size: 8pt;
        }

        .gh_table td{
            border-bottom: 1px solid #cccccc;
            font-size: 8pt;
        }

        .gh_table_td_pname{
            border-bottom: none !important;
        }

        .gh_instructions{
            margin-left: 18px;
            font-size: 8pt;
            color: #656565;
        }

        #gh_example_link{
            font-size: 6pt;
        }

        #repoEntry select{
            font-size: 8pt;
        }

        #repoEntry input{
            font-size: 6pt;
            padding: 4px;
        }

        #gh_submit{
            font-size: 8pt;
        }

        #gh_messages{
            background-color: #DFEFFE;
            margin-left: 18px;
            margin-top: 18px;
            border: 2px solid #bbb;
            padding: 10px;
            padding-left: 36px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;
            background-image: url('/jira/download/resources/com.tsc.jira.github.GitHub/images/blue_info_icon.jpg');
            background-repeat: no-repeat;
            background-position: 5px 5px;
            font-size: 8pt;
            width: 400px;
            margin-bottom: 12px;
        }

        #gh_messages h2{
            font-size: 8pt;
            color: #333;
        }

    </style>

  </head>

  <body>

        <h3>GitHub Global Plugin Settings</h3>

            <div id='gh_config_link'>
                <a href="/jira/secure/admin/ConfigureRepositories.jspa">Configure GitHub Repositories</a>
            </div>

              <h4 class="gh_config_h4">GitHub OAuth Application Setup</h4>

              <div class="gh_instructions">

                  <p>To sync with private GitHub repositories you will need to <a href="https://github.com/account/applications/new">create a new GitHub OAuth Application.</a></p>

                  <p>For the Callback URL, please enter in your <a href="/jira/secure/admin/ViewSystemInfo.jspa">JIRA Base URL</a>. This is necessary as a portion of the OAuth authentication process will have GitHub redirectina an access token back to your JIRA instance.</p>

                  <p>Additionally, please do <strong>NOT</strong> include a trailing slash "/" on the Callback URL as this will cause the callbacks to fail.</p>

                  <div>
                      <img src="/jira/download/resources/com.tsc.jira.github.GitHub/images/gh_oauth_app.jpg">
                  </div>

              </div>


              <h4 class="gh_config_h4">GitHub OAuth Client ID Entry</h4>
              <div class="gh_instructions">
                  <p>After you create the application, GitHub will provide you with a <strong>Client ID</strong> and a <strong>Client Secret</strong> which you will need to enter below.</p>


                    #if ($action.getMessages() != "")
                        <div id="gh_messages" >
                               <h2>$action.getMessages()</h2>
                        </div>
                    #end

                    #if ($action.getValidations() != "")
                        <div style="margin: 10px; border: 2px solid red; width: 400px; background: #ddd; padding: 15px;">
                               <h3>$action.getValidations() </h3>
                        </div>
                    #end

                     <form id="repoEntry" method="post" action="${req.contextPath}/secure/admin/ConfigureGlobalSettings.jspa">
                          <input type="hidden" name="nextAction" value="SetOAuthValues">
                          <table width="500px">

                            <tr>
                              <td>Client ID</td>
                            </tr>
                            <tr>
                              <td>
                                 <input type="text"
                                 id="clientID"
                                 name="clientID"
                                 value="$action.getSavedClientID()"
                                 size="60"
                                 />

                              </td>

                            </tr>

                              <tr>
                                <td>Client Secret</td>
                              </tr>
                              <tr>
                                <td>
                                   <input type="text"
                                   id="clientSecret"
                                   name="clientSecret"
                                   value="$action.getSavedClientSecret()"
                                   size="60"
                                   />

                                </td>

                              </tr>


                            <tr>

                                <td >
                                    <input type="submit" name="Submit" id="Submit" value="Add/Update Keys"
                                    class="spaced"
                                    />
                                </td>
                            </tr>

                          <table>
                     </form>


                  </div>

  </body>
</html>