<html>
  <head>
    <title>GitHub Private Repository OAuth Success</title>

    <script type="text/javascript">
    </script>

    <style type="text/css">


        #gh_config_link{
            margin-top: 10px;
        }

        #gh_config_link a{
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.github.GitHub/images/pencil_icon.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
            font-size: 8pt;
        }

        .gh_config_h4{
            font-weight: normal;
            color: #3676B7;
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira.github.GitHub/images/down_gray_arrow.jpg');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 18px;
            margin-top: 18px;
        }

        #gh_post_receive_header{
            font-weight: normal;
            font-size: 10pt;
            color: #666;
            margin-top: 18px;
            margin-bottom: 10px;
        }

        #gh_post_receive_textbox{
            font-size: 6pt;
            padding: 4px;
        }

        #gh_post_receive{
            margin-bottom: 10px;
        }

        .gh_table{
            margin-left: 16px;
            width: 100%
        }

        .gh_table_project_name{
            font-size: 10pt;
            color: #5F6262;
            padding-top: 14px;
        }

        .gh_table th{
            font-weight: normal;
            color: #656565;
            border-bottom: 1px solid #cccccc;
            font-size: 8pt;
        }

        .gh_table td{
            border-bottom: 1px solid #cccccc;
            font-size: 8pt;
        }

        .gh_table_td_pname{
            border-bottom: none !important;
        }

        #gh_add_repositories{
            margin-left: 18px;
            font-size: 8pt;
            color: #656565;
        }

        #gh_example_link{
            font-size: 6pt;
        }

        #repoEntry select{
            font-size: 8pt;
        }

        #repoEntry input{
            font-size: 6pt;
            padding: 4px;
        }

        #gh_submit{
            font-size: 8pt;
        }

        #gh_messages{
            background-color: #DFEFFE;
            margin-left: 18px;
            margin-top: 18px;
            border: 2px solid #bbb;
            padding: 10px;
            padding-left: 36px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;
            background-image: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.github.GitHub/images/blue_info_icon.jpg');
            background-repeat: no-repeat;
            background-position: 10px 10px;
            font-size: 8pt;
        }

        #gh_messages h2{
            font-size: 8pt;
            color: #333;
        }

    </style>

  </head>

  <body>


    <h3>GitHub Private Repository OAuth Success</h3>


    <h4 class="gh_config_h4">GitHub Private Repository OAuth Success</h4>

      <p>You have successfully linked the following:</p>

      <p>
          Private Repository: <strong>$action.getPrivateRepositoryURL()</strong>
      </p>

      <p>
          JIRA Project Key: <strong>$action.projectKey</strong>
      </p>

      <p>
          GitHub Access Token: <strong>$action.access_token</strong>
      </p>


    #if ($action.getPostCommitURL() != "")
        <div id="gh_post_receive">

               <h4 id="gh_post_receive_header">Add the Post-Receive Hook</h4>

                <p>Please add the URL below to your GitHub Repositories Post-Receive Hooks</p>

                <p>
                    <input id="gh_post_receive_textbox" type="text" size="100" value="$action.getBaseURL()/$action.getPostCommitURL()">
                </p>

                <div>
                    <a href="http://help.github.com/post-receive-hooks/" target="_new">Post Receive URL Setup Instructions</a>
                </div>

        </div>
    #end

      <p>You can add additional repositories from the <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa">Configure Repositories Page</a></p>

  </body>
</html>