<html>
  <head>
    <title> #if ($action.getMode() == 'single')
                GitHub Repositories
            #else
                Bulk Configure GitHub Repositories
            #end
    </title>



    <style type="text/css">


        #gh_config_link{
            margin-top: 10px;
        }

        #gh_config_link a{
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira-github-connector-plugin/images/pencil_icon.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
            font-size: 10pt;
        }

        .gh_config_h4{
            font-weight: normal;
            color: #3676B7;
            background: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira-github-connector-plugin/images/down_gray_arrow.jpg');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 18px;
            margin-top: 18px;
        }

        #gh_post_receive_header{
            font-weight: normal;
            font-size: 10pt;
            color: #666;
            margin-top: 18px;
            margin-bottom: 10px;
        }

        #gh_post_receive{
            margin-bottom: 10px;
        }

        .gh_table{
            margin-left: 16px;
            width: 100%
        }

        .gh_table_project_name{
            font-size: 10pt;
            color: #5F6262;
            padding-top: 14px;
        }

        .gh_table th{
            font-weight: normal;
            color: #656565;
            border-bottom: 1px solid #cccccc;
            font-size: 10pt;
        }

        .gh_table td{
            border-bottom: 1px solid #cccccc;
            font-size: 10pt;
        }

        .gh_table_td_pname{
            border-bottom: none !important;
        }

        #gh_add_repositories{
            margin-left: 18px;
            font-size: 10pt;
            color: #656565;
        }

        #gh_example_link{
            font-size: 6pt;
        }

        #gh_submit{
            font-size: 10pt;
        }

        #gh_messages{
            background-color: #DFEFFE;
            margin-left: 18px;
            margin-top: 18px;
            border: 2px solid #bbb;
            padding: 10px;
            padding-left: 36px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;
            background-image: url('$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira-github-connector-plugin/images/blue_info_icon.jpg');
            background-repeat: no-repeat;
            background-position: 10px 10px;
            font-size: 10pt;
        }

        #gh_messages h2{
            font-size: 10pt;
            color: #333;
        }

    </style>



    <script type="text/javascript">
        var url = '$action.escape($action.getURL())';
        var projectKey = '$action.escape($action.getProjectKey())';
        var syncComplete = false;

        function forceSync(url, projectKey){
            AJS.$('#gh_messages').css('display','block');
            AJS.$('#connector_sync_message').html("");
            AJS.$('#connector_sync_status').html("");

            AJS.$('#connector_sync_message').load('$action.getBaseURL()/GitHubConfigureRepositories.jspa?nextAction=SyncRepository&url=' + url + '&projectKey=' + projectKey + '&atl_token=$atl_token');

            window.setInterval(function(){
                if(syncComplete == false){
                    AJS.$('#connector_sync_status').load('$action.getBaseURL()/GitHubConfigureRepositories.jspa?nextAction=CurrentSyncStatus&url=' + url + '&projectKey=' + projectKey + '&atl_token=$atl_token');
                }
            }, 1000);
        }

    </script>
  </head>

  <body>



            <h3>#if ($action.getMode() == 'single')
                Existing Repositories Linked to $action.escape($action.getProjectName())
            #else
                Bulk Configure GitHub Repositories
            #end</h3>

            <div id='gh_config_link'>
                <a href="$action.getBaseURL()/secure/admin/ConfigureGlobalSettings!default.jspa">Configure OAuth Settings</a>
            </div>

            <h4 class="gh_config_h4">Existing Linked Repositories</h4>

            <table class="gh_table">

            #if ($action.getMode() == 'single')
                        <tr>
                            <td colspan="3" class="gh_table_td_pname"><div class="gh_table_project_name">$action.escape($action.getProjectName())</div></td>
                        </tr>

                        <tr>
                            <th>Repository URL</th>
                            <th>Key</th>
                            <th>Operations</th>
                        </tr>

                    #foreach ($repository in $action.getProjectRepositories($action.escape($action.getProjectKey())))
                        <tr>
                            <td><a href="$action.getRepositoryURLWithoutBranch($repository)" target="_new">$action.escape($repository)</a></td>
                            <td>$action.escape($action.getProjectKey())</td>
                            <td width="260px">
                                <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa?url=$repository&projectKey=$action.escape($action.getProjectKey())&nextAction=ForceSync&mode=$action.escape($action.getMode())&atl_token=$atl_token">Force Sync</a> |
                                <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa?url=$repository&projectKey=$action.escape($action.getProjectKey())&nextAction=ShowPostCommitURL&mode=$action.escape($action.getMode())&atl_token=$atl_token">Post Commit</a> |
                                <a href="#" onclick="confirmation('$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa?nextAction=DeleteRepository&url=$action.escape($repository)&projectKey=$action.getProjectKey()&mode=$action.escape($action.getMode())&atl_token=$atl_token')">Delete</a>
                            </td>
                        </tr>
                    #end

            #else
                #foreach ($project in $action.getProjects())
                    #if ($action.getProjectRepositories($project.key))

                        <tr>
                            <td colspan="3" class="gh_table_td_pname"><div class="gh_table_project_name">$action.escape(${project.name})</div></td>
                        </tr>

                        <tr>
                            <th>Repository URL</th>
                            <th>Key</th>
                            <th>Operations</th>
                        </tr>

                    #end

                    #foreach ($repository in $action.getProjectRepositories($project.key))
                        <tr>
                            <td><a href="$action.getRepositoryURLWithoutBranch($repository)" target="_new">$action.escape($repository)</a></td>
                            <td>$action.escape($project.key)</td>
                            <td width="260px">
                                <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa?url=$action.escape($repository)&projectKey=$action.escape($project.key)&nextAction=ForceSync&mode=$action.escape($action.getMode())&atl_token=$atl_token">Force Sync</a> |
                                <a href="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa?url=$action.escape($repository)&projectKey=$action.escape($project.key)&nextAction=ShowPostCommitURL&mode=$action.escape($action.getMode())&atl_token=$atl_token">Post Commit</a> |
                                <a href="#" onclick="confirmation('$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa?nextAction=DeleteRepository&url=$repository&projectKey=$project.key&mode=$action.escape($action.getMode())&atl_token=$atl_token')">Delete</a>
                            </td>
                        </tr>
                    #end
                #end

            #end



            </table>



            #if ($action.nextAction == 'ForceSync')
                <div id='gh_messages' style="display: none;">
                    <h2>Sync Summary</h2>
                    <div id='connector_sync_status'></div>
                    <div id='connector_sync_message'></div>
                </div>
            #end

            <h4 class="gh_config_h4">Add additional GitHub repositories</h4>

                <div>
                    <p>Add additional GitHub repositories to the projects to link their commits with JIRA issue keys.<br/>

                    #if ($action.getMode() == 'single')
                        Enter the GitHub repository URL with the branch included.</p>
                    #else
                        Enter the JIRA project and GitHub repository URL with the branch included.</p>
                    #end

                    #if ($action.getValidations() != "" && $action.getNextAction() != "")
                        <div class="aui-message error shadowed">
                               <h3>$action.getValidations() </h3>
                        </div>
                    #end

                    #if ($action.getPostCommitURL() != "")
                        <div id="gh_post_receive">

                               <h4 id="gh_post_receive_header">Add the Post-Receive Hook</h4>

                                <p>Please add the URL below as a post-receive hook to the GitHub repository.</p>

                                <p>
                                    <input type="text" class="text" size="100" value="$action.getBaseURL()/$action.getPostCommitURL()">
                                </p>

                                <div>
                                    <a href="http://help.github.com/post-receive-hooks/" target="_new">Post Receive URL Setup Instructions</a>
                                </div>

                        </div>
                    #end

                     <form class="aui" method="post" action="$action.getBaseURL()/secure/admin/GitHubConfigureRepositories.jspa">
                          <input type="hidden" name="nextAction" value="AddRepository">
                          <input type="hidden" name="atl_token" value="$atl_token">
                          <table width="500px">

                            <tr>
                              <td valign="top">

                                #if ($action.getMode() == 'single')
                                    <input type='hidden' name='projectKey' value='$action.escape($action.getProjectKey())'>
                                    <input type='hidden' name='mode' value='single'>
                                #else
                                  <select name="projectKey" class="select medium-field">
                                    #foreach ($project in $action.getProjects())
                                      <option value="${project.key}" #if ($action.escape($action.getProjectKey()) == $action.escape($project.key)) selected #end>$action.escape(${project.name})</option>
                                    #end
                                  </select>
                                  <input type='hidden' name='mode' value='bulk'>
                                #end


                              </td>

                              <td valign="top">
                                  <select name="repoVisibility" id="repoVisibility" class="select short-field">
                                      <option value="public" #if ($action.escape($action.getRepoVisibility()) == 'public') selected #end >Public</option>
                                      <option value="private" #if ($action.escape($action.getRepoVisibility()) == 'private') selected #end >Private</option>
                                  </select>
                              </td>

                              <td valign="top">
                                 <input type="text"
                                 class="text"
                                 id="url"
                                 name="url"
                                 value="$action.escape($action.getURL())"
                                 size="60"
                                 /><br/>

                              </td>

                                <td valign="top">
                                    <input type="submit" value="Add Repository" id="gh_submit"/>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2"></td>
                                <td colspan="2"><strong>Example Repository URL:</strong> https://github.com/atlassianguy/superproject/master</td>

                            </tr>





                          <table>
                     </form>
                </div>
      <br>

  </body>
</html>