<div style="text-align: center">

    #if ($action.getCurrentSyncPage() == 'complete')
        <script type="text/javascript">syncComplete = true;</script>
        <strong>Sync Processing Complete</strong>
        <div>$action.getJIRACommitTotal() Commits with JIRA Project Key $action.getProjectKey()  found</div>
    #else
         Currently Processing Commits Page $action.getCurrentSyncPage()<p/>
        <img src='$action.getBaseURL()/download/resources/com.atlassian.jira.plugins.jira-github-connector-plugin/images/loading_barber_pole_horz.gif'>
    #end

</div>

